.article {
  padding-top: 20px;
  width: 730px;
  margin: 0 auto;
  .clearfix();

  &__item {
    float: left;
    width: 356px;
    margin-left: 9px;
    outline: 1px dotted blue;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    text-align: center;
  }

  &__description {
    text-indent: 15px;
    text-align: justify;
    line-height: 18px;
  }

  &__description a {
    text-decoration: none;
  }

  &__description a:hover {
    text-decoration: underline;
  }

  &__description span {
    color: red;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  &__list {
    list-style-type: square;
  }

  &__list a {
    text-decoration: none;
    color: indigo;
  }

  &__list a:hover {
    text-decoration: underline;
  }
}
