.image {
  width: 780px;
  outline: 1px dotted green;
  margin: 0 auto;
  &__item {
   display: inline-block;
   vertical-align: top;
   margin-bottom: 30px;
    margin-left: 20px;
  }

  &__item span {
    font-size: 13px;
    text-align: center;
  }

  &__description {
    display: block;
  }

  &__item--single {
   width: 630px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

//  &__photo {
//    margin: 0 auto;
//  }
}

