body {
  margin: 0;
  padding: 0;
  width: 800px;
  font-family: 'tahoma', sans-serif;
  margin: 0 auto;
  outline: 1px dotted red;
}
.container {
  width: 780px;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.image {
  width: 780px;
  outline: 1px dotted green;
  margin: 0 auto;
}
.image__item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-left: 20px;
}
.image__item span {
  font-size: 13px;
  text-align: center;
}
.image__description {
  display: block;
}
.image__item--single {
  width: 630px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.article {
  padding-top: 20px;
  width: 730px;
  margin: 0 auto;
}
.article::after {
  content: "";
  display: table;
  clear: both;
}
.article__item {
  float: left;
  width: 356px;
  margin-left: 9px;
  font-family: 'tahoma', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.article__title {
  text-align: center;
  text-transform: uppercase;
}
.article__subtitle {
  text-align: center;
}
