body {
  margin: 0;
  padding: 0;
  width: 800px;
  font-family: 'tahoma', sans-serif;
  margin: 0 auto;
  outline: 1px dotted red;
}
.container {
  width: 780px;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.page-header {
  width: 772px;
  height: 73px;
  background: linear-gradient(to right, #82e04e 0%, #7cc329 43%, #74a403 100%);
  box-shadow: 0 2px 5px rgba(93, 93, 95, 0.7);
}
.page-header__title {
  font-size: 19px;
  line-height: 19px;
  padding-left: 82px;
  padding-top: 20px;
  color: #ffffff;
}
.page-header__description {
  display: block;
  margin-top: -20px;
  font-size: 17px;
  line-height: 5px;
  font-weight: 400;
  padding-left: 82px;
  padding-top: 17px;
}
