<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
<div class="container clearfix">
 <div class="carousel-arrow-left"><span>Влево</span></div>
 <div class="carousel-hider">
  <h2>Module11-12-task1</h2>
   <ul class="carousel-list">
    <li class="carousel-element"><img src="img/1_b.jpg"><p>Описание 1</p></li>
    <li class="carousel-element"><img src="img/2_b.jpg"><p>Описание 2</p></li>
    <li class="carousel-element"><img src="img/3_b.jpg"><p>Описание 3</p></li>
    <li class="carousel-element"><img src="img/4_b.jpg"><p>Описание 4</p></li>
    <li class="carousel-element"><img src="img/5_b.jpg"><p>Описание 5</p></li>
    <li class="carousel-element"><img src="img/1_b.jpg"><p>Описание 1</p></li>
    <li class="carousel-element"><img src="img/4_b.jpg"><p>Описание 4</p></li>
    <li class="carousel-element"><img src="img/4_b.jpg"><p>Описание 4</p></li>
  </ul>
  </div>
  <div class="carousel-arrow-right"><span>Вправо</span></div>
 </div>
 <div class="container clearfix">
  <h2>Module11-12-task2</h2>
 </div>
 <script src="https://code.jquery.com/jquery-git.js"></script>
 <script src="js/jquery.slider.js"></script>
 <script src="js/tmpl.js"></script>
 <script src="js/main.js"></script>
 <script type="text/template" id="test">
  <% for (var i = 0; i < data.length; i++) { %>
    <div class="container">
      <h1><%= data[i].title %></h1>
      <p><%= data[i].content %></p>
    </div>
     <% }; %>
 </script>
</body>
</html>