.clocks {
//  position: relative;
  width: 380px;
  margin-left: -20px;
  margin-top: 100px;
//  margin-right: 40px;
  float: right;
//  outline: 1px dotted yellow;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 80px;
    height: 90px;
  }

  &__title {
    font-size: 14px;
    text-align: center;
//    padding-left: 20px;
    border-bottom: 2px solid rgba(88, 88, 90, 0.9);
    color: #424244;
  }

}

.clock {
  border-radius: 50%;
  padding-bottom: 150px;
  position: relative;
  left: -10px;
  width: 100px;
  top: -40px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: scale( 0.08 );
  -moz-transform: scale( 0.08 );
  -o-transform: scale( 0.08 );
  -ms-transform: scale( 0.08 );
  transform: scale( 0.08 );

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);

}


article.clock:hover .hours-container,
article.clock:hover .minutes-container,
article.clock:hover .seconds-container{
  visibility:visible;
}

.clock::after {
  /*background: red;*/
  /**/
  background:url('../img/vec/clock_center.svg') no-repeat;
  background-size:100%;
  background-position: 50% 50%;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours-container {
  -webkit-animation: rotate 43200s infinite linear;
          animation: rotate 43200s infinite linear;
}

.linear .minutes-container {
  -webkit-animation: rotate 3600s infinite linear;
          animation: rotate 3600s infinite linear;
}
.linear .seconds-container {
  -webkit-animation: rotate 60s infinite linear;
          animation: rotate 60s infinite linear;
}

.steps .minutes-container {
  -webkit-animation: rotate 3600s infinite steps(60);
          animation: rotate 3600s infinite steps(60);
}
.steps .seconds-container {
  -webkit-animation: rotate 60s infinite steps(60);
          animation: rotate 60s infinite steps(60);
}

.local.steps .minutes-container {
  -webkit-animation: none;
          animation: none;
}

.bounce .minutes-container {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
          transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}
.bounce .seconds-container {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
          transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.hours {
  background: #000;
   background: url('../img/vec/hours_arrow.svg') no-repeat;
      background-position: 50% 0%;
    background-size: 230%;
    /*border:1px solid blue;*/
  width: 3.5%;
  height: 40%;
  position: absolute;
  left: 48.25%;
  top: 22%;
  -webkit-transform-origin: 50% 71%;
      -ms-transform-origin: 50% 71%;
          transform-origin: 50% 71%;
}

.minutes {
  background: #000;
 background: url('../img/vec/min_arrow.svg') no-repeat;
    background-position: 50% 50%;
        background-size: 165%;
    /*border:1px solid white;*/
  width: 3.5%;
  height: 55%;
  position: absolute;
  left: 48.25%;
  top: 7%;
  -webkit-transform-origin: 50% 78.5%;
      -ms-transform-origin: 50% 78.5%;
          transform-origin: 50% 78.5%;
}

.seconds {
  /*background: red;*/
   background: url('../img/vec/sec_arrow.svg') no-repeat;
       background-position: 50% 0%;
    background-size: 230%;
  width: 1.5%;
  height: 42%;
  position: absolute;
  left: 49.25%;
  top: 18%;
  -webkit-transform-origin: 50% 78.5%;
      -ms-transform-origin: 50% 78.5%;
          transform-origin: 50% 78.5%;
  z-index: 8;
  /*border:1px solid green;*/
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/*.clock.station:hover{
  background: #F08080  no-repeat center;
  background-size: 95%;
}*/

.clock.station {
 /* background: #F08080;*/
 background: url('../img/vec/clock_background.svg') no-repeat;

 background-size: 100%;
 background-position: 50.2% 50.1%;
// border: 1px solid blue;

  /*box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2) inset;*/

}






.hours.angled {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.minutes.angled {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}
