.features {
  margin-top: 40px;
  width: 772px;

  &__item {
    width: 254px;
    height: 127px;
    display: inline-block;
    vertical-align: top;
    outline: 1px dotted magenta;
  }

  &__description {
    font-size: 14px;
    text-align: center;
  }

}
