.goods {
  margin-top: 30px;
  width: 772px;
  height: 386px;
  outline: 1px dotted cyan;

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    height: 126px;
    outline: 1px dotted grey;
  }

  &__main-title {
    text-align: center;
    margin-bottom: 20px;
  }
}
