body {
  background-image: url("../img/background_960px.jpg"); 
  background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
/*   overflow-x: hidden; */
  }
  
  .container {
 width: 960px;
 margin: 0 auto;
 }
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: block;
  float: left;
  margin-top: 70px;
  margin-left: 0;
  margin-bottom: 25px;
}
  
.menu__inner {
  float: left;
  display: block;
  margin-top: -70px;
  margin-left: 250px;
  margin-bottom: 0;
}
  
.dropdown-menu {
    display: none;
  }

.dropdown-menu__inner {
  display: none;
}

.menu {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu__item {
/*  display: inline-block;*/
/*  vertical-align: top;*/
  float: left;
  margin-right: 40px;
}

/*
.menu__item:last-child {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
}
*/

.menu__link  {
  display: block;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 24px;
  line-height: 33.72px;
  text-decoration: none;
  padding: 0 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.menu--footer {
  margin: 0;
  margin-top: 15px;
/*  width: 500px;*/
/*  margin-bottom: -150px;*/
  float: left;
  }  

.menu__item--footer {
  margin-left: 0;
  margin-right: 35px;
/*  letter-spacing: 0.5px;*/
  float: left;
}

.menu__link--footer {
  display: block;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 20px;
  line-height: 33.72px;
  text-decoration: none;
  padding: 0 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.menu__link--active {
 position: relative;
}

.menu__link--active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #edbfff;
}

/*
.slider-opacity {
  background-color: rgba(0, 0, 0, 0.15);
  height: 400px;
  margin-top: 132px;
  margin-bottom: 230px;
}
*/

.main-slider {
  width: 768px;
  position: relative;
}

.main-slider__left-button {
  position: absolute;
  top: 180px;
  left: -323px;
}

.main-slider__right-button {
  position: absolute;
  top: 180px;
  left: 1250px;
}
  
.slider-controls {
  top: 495px;
  left: 680px;
  position: absolute;
  width: 140px;
  height: 24px;
/*  outline: 1px dotted green;*/
  text-align: center;
  z-index: 1000;
} 
  
.slider-controls--inversion {
  position: absolute;
  top: 0;
  top: 298px;
  left: 142px;
}

.slider-controls__item {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  background: #4b4c55;
  border: 3px solid #4b4c55;
  border-radius: 50%;
  margin-right: 3px;
  cursor: pointer;
}

.slider-controls__item--inversion {
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0 0 2px lightgrey;
}

.slider-controls__item--active {
  background: #ececec;
}
.slider-controls__item--active-inversion {
  background: #4b4c55;
}
  
.main-slider__to-left {
  float: left;
  width: 520px;
  margin-left: 0;
  margin-top: 90px;
}

.main-slider__to-right {
  position: relative;
  float: right;
}

.main-slider__img-480 {
  display: none;
}  
  
.main-slider__img-768 {
  display: block;
  position: absolute;
  left: -345px;
  top: -15px;
}

.main-slider__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 60px;
  line-height: 36px;
  letter-spacing: -1px;
  font-weight: 400;
  font-style: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.main-slider__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: ;
/*  display: block;*/
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #edbfff;
}

.main-slider__description {
  display: block;
  height: 160px;
  overflow: none;
  margin: 0;
  padding: 0;
  padding-left: 0x;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-style: none;
  word-wrap:break-word;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.about {
  margin-top: 245px;
  margin-bottom: 175px;
}

.about__item {
  position: relative;
  float: left;
  margin-right: 50px;
  margin-left: 0;
  padding-left: 50px;
  width: 220px;
/*  outline: 1px dotted yellow;*/
}

.about__item:last-child {
/*  float: right;*/
  margin-right: 0;
}

.about__title {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 10px;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.about__description {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 7px;
  width: 230px;
  height: 130px;
  overflow: show;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.about__link {
  width: 60px;
  display: block;
  margin-top: 8px;
  margin-left: 170px;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
/*  text-align: right;*/
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.about__link:hover {
  text-shadow: 0 0 10px #ffffff;
}

.icon--news-2 {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 30px;
  height: 31px;
  background: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
}
  
.icon--news-3 {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 30px;
  height: 31px;
  background: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 0 -109px;    
}
  
.slider {
  position: relative;
  float: left;
  margin-left: 25px;
  margin-top: -35px;
  margin-bottom: 0;
  width: 430px;
  height: 270px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05 );
/*  border-bottom: 2px solid #f9f9f9;*/
}

.slider__item {
  padding-left: 39px;
  padding-right: 26px;
  padding-top: 30px;
  
}

.slider__title {
  display: inline-block;
  margin-top: 8px;
  margin-left: -2px;
  padding: 0;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
/*  letter-spacing: 2px;*/
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 0 rgba(0, 0, 0, 0.3);
  color:  #454545;
}

.slider__title--pink {
  display: inline-block;
  padding-left: 5px;
  color:#edbfff;
  text-shadow: none;
}

.slider__description {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-left: -4px;
  width: 360px;
  height: 170px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color:  #454545;
  overflow: hidden;
}
  
.updates {
  position: relative;
  margin-top: -40px;
  margin-bottom: 110px;
  float: right;
  width: 340px;
}

.updates__item {
  margin-top: -10px;
  margin-left: -55px;
  margin-bottom: 30px;
  width: 320px;
  position: relative;
  padding-left: 60px;
}

.updates__title {
  margin-top: 28px;
  margin-left: -65px;
  padding: 0;
  padding-top: 10px;
  padding-left: -20px;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color:  #454545;
}

.updates__subtitle {
  margin: 0;
  padding: 0;
  margin-left: -5px;
  width: auto;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  color:  #454545;
}

.updates__date {
  margin-top: 0px;
  margin-left: -5px;
  padding: 0;
  width: auto;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color:  #454545;
}

.updates__link {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: -12px; 
  padding-left: 280px;
  width: 100px;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color:  #454545;
}
  
.updates__link--modifier-1 {
  display: none;  
  }

.updates__link--modifier-2 {
  display: block;  
  }

  
.page-footer {
    height: 114px;
  }
  
.brands-logos__img {
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 130px;
  width: 775px;
  height: 65px;
  margin-left: 90px;
  background: url("/img/logos-960.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.news {
  margin-left: 0;
  margin-bottom: 40px;
    font-size: 0;
}

.news__item {
  display: inline-block;
  float: none;
  width: 285px;
  margin-right: 50px;
}
  
.news__img {
  display: block;
  width: 202px;
  height: 75px;

}

.news__item:last-child {
  float: none;
  margin-right: 0;
}

.news__title {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 0;
  margin-left: 0;
  font-family: "LeagueGothicRegular", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color:  #454545;
}

.news__title:nth-child(n+2) {
  display: none;
  }  
  
.news__title--show {
  display: block;   
  }
  
.news__title--hide {
  display: none;  
}

.news__description {
  margin 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  width: 230px;
  height: 170px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color:  #454545;
}
  
.news__description:nth-child(n+3) {
  height: 116px;
  overflow: hidden;
}

.design {
  width: 145px;
  float: right;
  display: block;
/*  margin-left: 35px;*/
  margin-top: 10px;
  margin-right: -10px;
  margin-left: 0;
  }

.design__title {
/*  width: 140px;*/
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 33.72px;
  font-weight: 300;
  font-style: normal;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
}

.design__title span {
  font-weight: 800;
}
