body {
 padding: 20px;
 font-family:'PT Sans', sans-serif;
 line-height: 24px;
 font-size: 14px;        
}

.container {
  width: 700px;
  margin: 0 auto;
}

.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  margin-top: -10px;
  margin-bottom: 20px;
  width: auto;
}

.tabs-menu {
  height: 30px;
  font-size: 0;
}

.tabs-menu__item {
  margin-right: 10px;
  min-height: 30px;
  line-height: 30px;
  display: inline-block;
  list-style: none;
  font-family:'PT Sans', sans-serif;
  line-height: 24px;
  font-size: 14px;
  background-color: #ccc;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
  border-bottom: #fff;
}

.active {
  position: relative;
  background-color: #fff;
/*  border-bottom: 1px solid #fff;*/
  text-decoration: none;
  z-index: 5;
}

.tabs-menu__link {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; 
}

/*
.tabs-menu__link {
  text-decoration: none; 
}
*/

.active a {
  color: #2e7da3;
}



.tab__content {
  width: 660px;
  padding: 20px;
  display: none;
}

#tab-1 {
 display: block;   
}
